click
pydantic
rich
python-dotenv
langchain
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
nbformat
ipykernel
pandas
sktime
requests
langchain-huggingface
langchain-openai
langchain-google-genai
streamlit
